.block_section-benefits {
  background-color: var(--background);
  height: 680px;
  font-family: var(--font1);
}

.block_section-benefits h2 {
  font-size: 2rem;
  padding: 2rem 0 2rem 3.5rem;
}
.block_benefits-presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.block_background-benefits {
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 550px;
}

.block_benefits--title {
  display: flex;
  padding-left: 1rem;
}
.block_benefits--title h3 {
  padding-left: 1rem;
  font-size: 1.2rem;
}
.block_benefits p {
  padding: 0.1rem 4rem 0;
  color: var(--gray);
}
.line {
  background-color: var(--lightGray2);
  height: 0.1rem;
  border: none;
  width: 400px;
  margin: 1.5rem 3.5rem;
}

.icone {
  width: 40px;
}
.card {
  width: 450px;
}
