.block_feedback {
  font-family: var(--font1);
  display: flex;
  justify-content: center;
  height: 630px;
  padding: 3rem;
}

.block_feedback h3 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0 5rem;
}
.block_feedback--carrosel {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.background_feedback {
  display: flex;
  justify-content: space-between;
}

.photo_user {
  width: 60px;
  height: 60px;
  margin: 12px;
}

.background_feedback {
  background-color: var(--background);
  width: 300px;
  height: 160px;
  border-radius: 0.8rem;
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.223);
}
.background_feedback h4 {
  padding: 1rem 1rem;
}
.background_feedback p {
  width: 220px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 1rem 0;
}
.button__feedback {
  border: none;
  background-color: white;
}
.navigation_feedback {
  display: flex;
  gap: 30px;
}
.navigation_feedback--point {
  content: ' ';
  position: relative;
  border-radius: 50%;
  top: 60px;
  left: 500px;
  width: 10px;
  height: 10px;
  z-index: 1;
  background-color: var(--blue);
}
.navigation_feedback--point:nth-child(2) {
  background-color: var(--red);
}
.navigation_feedback--point:nth-child(3) {
  background-color: var(--green);
}
