.block__footer {
  font-family: var(--font2);
}

.block__footer--content {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.block__redesSociais h5 {
  font-size: 1.5rem;
  padding: 2rem;
}
.block__redesSociais div {
  display: flex;
  align-items: center;
  padding: 0 1rem 2rem;
  margin: 0 1rem;
}

.titulo__redesSociais {
  padding-left: 1rem;
  color: var(--lightGray);
  font-weight: 600;
}

.block__avatar {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.block__avatar img {
  width: 200px;
  border-radius: 50%;
  padding: 1rem;
}
.citacao {
  width: 330px;
  font-weight: 500;
  line-height: 2rem;
  color: var(--lightGray);
  font-weight: 500;
}
.citacao p {
  text-align: right;
  font-style: italic;
  font-weight: 700;
}
.made_by {
  text-align: center;
  background-color: var(--background);
  padding: 0.5rem;
}
