.block_functionalities {
  height: 650px;
  padding-top: 3rem;
  font-family: var(--font1);
}

.block_functionalities:hover {
  max-width: 1000px;
  transition: ease-in-out 1s;
  transform: scale(1.1);
}

.block_functionalities-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.smartphone-google {
  width: 350px;
}

.functionalities__description {
  padding: 1rem 2rem;
  width: 550px;
}

.functionalities__description h2 {
  font-size: 2rem;
}

.gpay-logo {
  width: 5rem;
}

.functionalities__description p {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2rem 0 1rem;
  width: 460px;
  color: var(--gray);
}

.list-functionalities > li {
  font-size: 1rem;
  line-height: 2rem;
  width: 440px;
  color: var(--lightGray);
}
.list-functionalities--itens::before {
  content: '•';
  font-size: 30px;
  color: var(--blue);
  padding-right: 1rem;
}

.list-functionalities--itens:nth-child(2)::before {
  color: var(--red);
  content: '•';
  font-size: 30px;
  padding-right: 1rem;
}

.list-functionalities--itens:nth-child(3)::before {
  color: var(--green);
}

.list-functionalities--itens:nth-child(4)::before {
  color: var(--orange);
}
