.block_questions {
  font-family: var(--font1);
  background-color: var(--background);
  padding: 4rem;
}
.block__questions_content {
  width: 1100px;
  margin: 0 auto;
}

.block__questions_content h3 {
  font-size: 2rem;
  padding: 0 2rem;
  text-align: center;
}

.button--questions {
  border: none;
  cursor: pointer;
  padding-right: 0.6rem;
  background-color: var(--background);
}

.block__questions--itens div {
  display: flex;
  padding: 2rem 0;
}
.block__questions--itens h4 {
  font-size: 1.2rem;
}

.block__questions--itens p {
  width: 650px;
  padding: 0 0 1.5rem 1.6rem;
  color: var(--lightGray);
  font-size: 1rem;
}

.line_questions {
  width: 90%;
  border: 1px solid var(--lightGray2);
}
.resposta {
  display: none;
}
