.block_section-presentation-googlepaycard {
  background-color: var(--background);
}
.block__googlepaycard {
  display: flex;
  justify-content: space-around;
  height: 600px;
  align-items: center;
  flex-wrap: wrap;
}

.section-text {
  z-index: 1;
}
.box-animation {
  position: relative;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  padding: 3rem 2rem;
}

.box-animation::before {
  content: ' ';
  position: absolute;
  width: 230px;
  text-align: center;
  height: 160%;
  top: -100px;
  left: 20%;
  border-radius: 8px;
  background: linear-gradient(
    225deg,
    rgba(66, 133, 244, 1) 0%,
    rgba(15, 157, 88, 1) 31%,
    rgba(244, 132, 0, 1) 68%,
    rgba(219, 68, 55, 1) 100%
  );
  z-index: -3;

  animation: animateBorder 10s linear infinite;
}

.box-animation::after {
  display: flex;
  justify-content: center;
  content: ' ';
  position: absolute;
  inset: 3px;
  z-index: -2;
  background-color: var(--background);
  border-radius: inherit;
}

@keyframes animateBorder {
  100% {
    transform: rotate(360deg);
  }
}

.section-text h1 {
  font-size: 2rem;
  padding: 1.5rem 0 2rem 0;
}
.section-text h3 {
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--gray);
}
.section-text p {
  font-size: 1rem;
  width: 350px;
  color: var(--lightGray);
}

.card-gpay {
  width: 350px;
  margin: 3rem 0;
}
