:root {
  --blue: #4285f4;
  --green: #0f9d58;
  --red: #db4437;
  --orange: #f48400;
  --gray: #393939;
  --lightGray: #5a5a5a;
  --lightGray2: #dfdfdfa9;
  --white: #fff;

  --background: #f6f6f6;
  --openSans: 'Open Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --shadow: 0px 4px 4px 0px #00000040;
}
